@import '../../global/variables.scss';

.main-container {
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  margin: $margin-sm 0;

  &__header {
    padding: $padding-md $padding-xlg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--heading {
      font-size: $font-size-xlg;
      color: $white;
    }

    &--explore-button {
      align-self: flex-start;
    }
  }

  &__img {
  }
}
